@charset "utf-8";

/*---------------------------------------------------

File name:      import.css
Author:         Scholex co., ltd.
update:         2011/03/18

--------------------------------------------------- */

@import url("/web/20161124231401cs_/http://lod.sfc.keio.ac.jp/challenge2014/common/css/base.css");
@import url("/web/20161124231401cs_/http://lod.sfc.keio.ac.jp/challenge2014/common/css/layout.css");
@import url("/web/20161124231401cs_/http://lod.sfc.keio.ac.jp/challenge2014/common/css/droppy.css");
/*
     FILE ARCHIVED ON 23:14:01 Nov 24, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:01:53 Jun 29, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 238.593 (3)
  esindex: 0.01
  captures_list: 257.616
  CDXLines.iter: 14.215 (3)
  PetaboxLoader3.datanode: 257.589 (5)
  exclusion.robots: 0.226
  exclusion.robots.policy: 0.211
  RedisCDXSource: 0.79
  PetaboxLoader3.resolve: 71.916 (3)
  load_resource: 106.649
*/