.fb-social-plugin {
	width: 100%;
	margin: 2px 0px 2px 0px;
}
.fb-mentions {
	width: 100%;
	margin: 10px 0px 10px 0px;
}

.fb-mentions img {
	vertical-align: middle;
	margin-bottom: 2px;
}

@media only screen and (max-device-width: 480px) {
	.fb-like {
		float: left;
		width: 100%;	
	}

	div#page {
		width: 480px;
	}

	div.fb-comments span{
		float:left;
 		width:100%;
	}
}


/*
     FILE ARCHIVED ON 23:14:12 Nov 24, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:01:53 Jun 29, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 47.532 (3)
  esindex: 0.005
  captures_list: 59.279
  CDXLines.iter: 8.115 (3)
  PetaboxLoader3.datanode: 126.353 (5)
  exclusion.robots: 0.112
  exclusion.robots.policy: 0.103
  RedisCDXSource: 1.315
  PetaboxLoader3.resolve: 150.88 (2)
  load_resource: 265.008
*/