@charset "utf-8";

/*---------------------------------------------------

File name:      import.css
Author:         Scholex co., ltd.
update:         2011/03/18

--------------------------------------------------- */

@import url("/web/20160921185816cs_/http://lod.sfc.keio.ac.jp/challenge2011/common/css/base.css");
@import url("/web/20160921185816cs_/http://lod.sfc.keio.ac.jp/challenge2011/common/css/layout.css");
@import url("/web/20160921185816cs_/http://lod.sfc.keio.ac.jp/challenge2011/common/css/droppy.css");
/*
     FILE ARCHIVED ON 18:58:16 Sep 21, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:53:09 Jun 29, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 199.083 (3)
  esindex: 0.007
  captures_list: 212.152
  CDXLines.iter: 9.169 (3)
  PetaboxLoader3.datanode: 274.513 (5)
  exclusion.robots: 0.178
  exclusion.robots.policy: 0.164
  RedisCDXSource: 1.278
  PetaboxLoader3.resolve: 149.85 (2)
  load_resource: 254.752
*/