@charset "utf-8";

/*---------------------------------------------------

File name:      import.css
Author:         Scholex co., ltd.
update:         2011/03/18

--------------------------------------------------- */

@import url("/web/20160415173616cs_/http://lod.sfc.keio.ac.jp/challenge2014/common/css/base.css");
@import url("/web/20160415173616cs_/http://lod.sfc.keio.ac.jp/challenge2014/common/css/layout.css");
@import url("/web/20160415173616cs_/http://lod.sfc.keio.ac.jp/challenge2014/common/css/droppy.css");
/*
     FILE ARCHIVED ON 17:36:16 Apr 15, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:05:35 Jun 29, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 59.709 (3)
  esindex: 0.01
  captures_list: 79.639
  CDXLines.iter: 14.344 (3)
  PetaboxLoader3.datanode: 84.004 (5)
  exclusion.robots: 0.252
  exclusion.robots.policy: 0.236
  RedisCDXSource: 1.691
  PetaboxLoader3.resolve: 173.169 (3)
  load_resource: 237.153
*/